# -*- coding: utf-8 -*-
# vim: ft=yaml
---
zookeeper:
  pkg:
    name: zookeeper
    downloadurl: >
      https://mirror.csclub.uwaterloo.ca/apache/zookeeper/zookeeper-3.6.2/apache-zookeeper-3.6.2-bin.tar.gz
    version: 3.6.2
    installdir: /opt

    # OpenJDK package name on system; defaults to an empty string, which avoids
    # installing OpenJDK.  Overridden in the `os*map.yaml` files.
    javajdk: ''

  systemdconfig:
    # these values also determine the user that owns zookeeper installation files
    # The user isn't created by the formula and must exist on the system
    user: root
    group: root

  rootgroup: root
  config: 'zoo.cfg'
  service:
    name: zookeeper

  zookeeperproperties:
    tickTime: 2000
    dataDir: ./state/zookeeper
    clientPort: 2181
    initLimit: 5
    syncLimit: 2
    4lwCommandsWhitelist:
      - ruok
      - stat
      - mntr

    customservers:
      server1:
        zookeeper_myid: 1
        # the hostname must match the server hostname
        hostname: STAG-NY3-ZK
        zookeeper_peerPorts: '2888:3888'
        
