########################################################################
# File managed by Salt at <{{ source }}>.
# Your changes will be overwritten.
########################################################################
tickTime={{ zookeeper.zookeeperproperties.tickTime }}
dataDir={{ zookeeper.zookeeperproperties.dataDir }}
initLimit={{ zookeeper.zookeeperproperties.initLimit }}
syncLimit={{ zookeeper.zookeeperproperties.syncLimit }}
{%- if ['zookeeper.zookeeperproperties.clientPort'] %}
clientPort={{ zookeeper.zookeeperproperties.clientPort }}
{%- endif %}
{%- if ['zookeeper.zookeeperproperties.customservers'] %}
{%- for nodes, args in zookeeper.zookeeperproperties['customservers'].items() %}
server.{{ args.zookeeper_myid }}={{ args.hostname }}:{{ args.zookeeper_peerPorts }}
{%- endfor %}
{% endif %}

# Whitelisted four letter zookeeper commands
{%- if ['zookeeper.zookeeperproperties.4lwCommandsWhitelist'] %}
4lw.commands.whitelist={%- for command in zookeeper.zookeeperproperties['4lwCommandsWhitelist'] %}
{{ command }}
{%- if not loop.last %},{% endif %}
{%- endfor %}
{% endif %}
